.fundoCadastro {
  background-image: url("https://ik.imagekit.io/kjefwstje/ZZFAmzo.jpg?updatedAt=1737032742050");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
